menu "EKOS -- Widgets"

    config WIDGET_DAY_WEATHER
        bool "Enable Day Weather Widget"
        default y

    config WIDGET_FOOBAR
        bool "Enable Foobar Widget"
        default y

    config WIDGET_SIMPLE_DATE
        bool "Enable Simple Date Widget"
        default y

    config WIDGET_BATTERY_DISPLAY
        bool "Enable Battery Display Widget"
        default y

    config WIDGET_STOCK_CHART
        bool "Enable Stock Chart Widget"
        default y

    config WIDGET_SEEDBOX_MONITORING
        bool "Enable Seedbox Monitoring Widget"
        default y

    config WIDGET_SIDE_BAR
        bool "Enable Side Bar Widget"
        default y

    config WIDGET_APPLE_CALENDAR
        bool "Enable Apple Calendar Widget"
        default y

endmenu
